# Ignore everything by default
*

# Include next/ folder and all its contents
!next/
!next/**

# Include other necessary files/folders
!public/
!package.json
!next.config.js
!node_modules/
!yarn.lock
!package-lock.json

# Optional: process manager files
!ecosystem.config.js
!Dockerfile
!docker-compose.yml

# Scripts
!scripts/
!*.sh

# Don't ignore this file itself
!.gitignore

# Environment example file
!.env.example
